[submodule "GitUp"]
	path = GitUp
	url = https://github.com/git-up/GitUp.git
[submodule "RxSwift"]
	path = RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Action"]
	path = Action
	url = https://github.com/ashfurrow/Action.git
